// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
    background-color: #05d9ff;
    color: #66939b;
    font-family: "Jazz Script";
}
