// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    html{
        height: 100%;
    }
    
        body{
            background: url("http://vignette2.wikia.nocookie.net/survivor-org/images/b/b3/PT_Ravenclaw_Crest_by_threevoices.jpg/revision/latest?cb%5Cx3d20130512125956");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #000000;
            color: #00597a;
            font-family: "Jazz Script";
            height: 100%;
        
        }
